@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <html>
    <head>
        <title>Wikipage</title>
    </head>
    <body>
        <h2>Welcome to the best Wikipage!</h2>
    </body>
</html>
}
